accelerate==0.34.2
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
backcall==0.2.0
blinker==1.8.2
blis==0.7.11
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
brotlipy==0.7.0
catalogue==2.0.10
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
cffi @ file:///C:/b/abs_78eb1_vq6z/croot/cffi_1714483206096/work
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.19.0
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
comm==0.2.2
confection==0.1.5
conllu==5.0.1
cryptography @ file:///C:/b/abs_f4do8t8jfs/croot/cryptography_1694444424531/work
cymem==2.0.8
datasets==2.21.0
decorator==5.1.1
dill==0.3.8
en_core_sci_scibert @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.0/en_core_sci_scibert-0.5.0.tar.gz#sha256=b61daa08354e579faf09e68b5e94fb109b114867ee8ded789be066efe285f505
en_ner_bc5cdr_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bc5cdr_md-0.5.1.tar.gz#sha256=7852184affa649bcc1417d11fb1075b99f483e1f8329d91ca296de8020a46a31
en_ner_bionlp13cg_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_ner_bionlp13cg_md-0.2.4.tar.gz#sha256=167f87fdf2fee8999e57cd03575c860bdd3ceba139536009039919baf3b277e8
executing==2.1.0
filelock==3.16.1
Flask==3.0.3
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
frozenlist==1.4.1
fsspec==2024.6.1
fuzzywuzzy==0.18.0
gensim==4.3.3
huggingface-hub==0.25.0
humanfriendly==10.0
idna==3.10
importlib-metadata @ file:///C:/ci/importlib-metadata_1648544472910/work
ipython==8.12.3
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonpickle==3.3.0
jupyterlab_widgets==3.0.13
langcodes==3.4.0
language_data==1.2.0
Levenshtein==0.25.1
marisa-trie==1.2.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.10
networkx==3.1
nmslib==2.1.1
numpy==1.24.4
packaging==24.1
pandas==2.0.3
parso==0.8.4
pathlib_abc==0.1.1
pathy==0.11.0
peft==0.12.0
pickleshare==0.7.5
pillow==10.4.0
preshed==3.0.9
prompt_toolkit==3.0.47
psutil==6.0.0
pure_eval==0.2.3
pyarrow==17.0.0
pybind11==2.6.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.7.4
Pygments==2.18.0
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyreadline3==3.5.3
pysbd==0.3.4
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
pytz==2024.2
PyYAML==6.0.2
rapidfuzz==3.9.7
regex==2024.9.11
requests @ file:///C:/b/abs_9frifg92q2/croot/requests_1721410901096/work
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.9.3
scispacy==0.5.0
six==1.16.0
smart-open==6.4.0
spacy==3.2.3
spacy-alignments==0.9.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-transformers==1.1.7
srsly==2.4.8
stack-data==0.6.3
sympy==1.13.2
thinc==8.0.17
threadpoolctl==3.5.0
tokenizers==0.12.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm @ file:///C:/b/abs_77wju137gk/croot/tqdm_1724853945787/work
traitlets==5.14.3
transformers==4.20.1
typer==0.4.2
typing==3.7.4.3
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata==2024.1
urllib3 @ file:///C:/b/abs_a7hvzm4y95/croot/urllib3_1718912661242/work
wasabi==0.10.1
wcwidth==0.2.13
weasel==0.4.1
Werkzeug==3.0.4
widgetsnbextension==4.0.13
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
xxhash==3.5.0
yarl==1.11.1
zipp @ file:///C:/b/abs_b0beoc27oa/croot/zipp_1704206963359/work
